<!DOCTYPE html>
<html>
<head>
  <title>TODO Sample</title>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
  <!-- HTMLを書く -->
  <div id="app">
    <h1>初めてのTODOアプリ</h1>
    <p>
      <router-link to="/">Go to Top</router-link>
    </p>

    <router-view 
      v-bind:todos="todos"
      v-on:set-new='setNewTodo' ></router-view>
  </div>

  <!-- トップページのテンプレート -->
  <script type="text/x-template" id="todo-list-template">
    <div>
      <p>TODO一覧</p>
      <template v-for="item in todos" >
        <span>{{ item }}<br/></span>
      </template>
      <input type="button" value="新規作成" v-on:click="goNewTask()">
     </div>
  </script>

  <!-- 新規作成画面のテンプレート -->
  <script type="text/x-template" id="todo-new-template">
    <div>
      <p>TODO新規作成</p>
      タスク名<br>
      <input type="text" name="title" size="30" maxlength="20" v-model="title"><br><br>
      詳細<br>
      <input type="text" name="detail" size="45" maxlength="40" v-model="detail"><br><br>
      <input type="button" value="作成する" v-on:click="buttonClick()">
     </div>
  </script>

  <!-- 新規作成確認画面のテンプレート -->
  <script type="text/x-template" id="todo-new-confirm-template">
    <div>
      <p>新規TODOの確認画面</p>
      <input type="button" value="OK" v-on:click="">
      <input type="button" value="戻る" v-on:click="">
     </div>
  </script>

  <script type="text/javascript">
    // トップページのコンポーネント
    const Todos = {
      template: '#todo-list-template',
      props: ['todos'],
      data: function (){
        return { }
      },
      methods: {
        goNewTask: function() {
          router.push('/new');
        }
      }
    }

    // 新規作成画面のコンポーネント
    const New = { 
      template: '#todo-new-template',
      data: function (){
        return {
          title: "",
          detail: ""
         }
      },
      methods: {
        buttonClick: function() {
          this.$emit('set-new', this.title, this.detail)
        }
      }
    }

    // 確認画面のコンポーネント
    const Confirm = { 
      template: '#todo-new-confirm-template'
    }
    
    const routes = [
      { path: '/', component: Todos },
      { path: '/new', component: New },
      { path: '/newConfirm', component: Confirm }
    ]
    const router = new VueRouter({
      routes // routes: routes の短縮表記
    })
    const app = new Vue({
      router,
      message: "message",
      data: {
        todos: [
          "todo1",
          "todo2",
          "todo3"
        ],
        newTodo: {title:"", detail:""}
      },
      methods:{
        setNewTodo: function(t, d) {
          console.log("test "+t+":"+d);
          this.newTodo.title = t;
          this.newTodo.detail = d;
          console.log("this "+this.newTodo.title+":"+this.newTodo.detail);
        }
      }
    }).$mount('#app')
  </script>
</body>