<!DOCTYPE html>
<html>
<head>
  <title>TODO Sample</title>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
  <!-- HTMLを書く -->
  <div id="app">
    <h1>初めてのTODOアプリ</h1>
    <p>
      <router-link to="/">Go to Top</router-link>
    </p>

    <router-view 
      v-bind:todos="todos"
      v-on:add-new-todo='addNewTodo'
       ></router-view>
  </div>

  <!-- トップページのテンプレート -->
  <script type="text/x-template" id="todo-list-template">
    <div>
      <p>TODO一覧</p>
      <template v-for="(item, index) in todos" >
        <span>
          {{ item }}  
          <router-link :to="{ name:'edit', params:{item:index} }">edit</router-link><br/>
        </span>
      </template>
      <input type="button" value="新規作成" v-on:click="goNewTask()">
     </div>
  </script>

  <!-- 新規作成画面のテンプレート -->
  <script type="text/x-template" id="todo-new-template">
    <div>
      <p>TODO新規作成</p>
      タスク名<br>
      <input type="text" name="title" size="30" maxlength="20" v-model="title"><br><br>
      詳細<br>
      <input type="text" name="detail" size="45" maxlength="40" v-model="detail"><br><br>
      <input type="button" value="作成する" v-on:click="buttonClick()">
     </div>
  </script>

  <!-- 新規作成確認画面のテンプレート -->
  <script type="text/x-template" id="todo-new-confirm-template">
    <div>
      <p>
        タスク名：<span>{{ this.title }}</span><br>
        詳細：<span>{{ this.detail }}</span><br>
      <p>
      <p>本当にこのタスクを作成しますか？<br>
        <input type="button" value="OK" v-on:click="okButtonClick">
        <input type="button" value="戻る" v-on:click="cancelButtonClick">
      </p>
     </div>
  </script>

  <!-- 編集画面のテンプレート -->
  <script type="text/x-template" id="todo-edit-template">
    <div>
      <p>編集画面</p>
    </div>
  </script>

  <script type="text/javascript">
    var store = {
      todo: {
        title: '',
        detail: ''
      },
      setTodo (title, detail) {
        this.todo.title = title;
        this.todo.detail = detail;
      },
      clearTodo () {
        this.todo.title = ''
        this.todo.detail = ''
      }
    }

    // トップページのコンポーネント
    const Todos = {
      template: '#todo-list-template',
      props: ['todos'],
      data: function (){
        return { }
      },
      methods: {
        goNewTask: function() {
          store.clearTodo();
          router.push('/new');
        }
      },
      created: function () {
      }
    }

    // 新規作成画面のコンポーネント
    const New = { 
      template: '#todo-new-template',
      data: function (){
        return {
          title: "", detail: ""
         }
      },
      methods: {
        buttonClick: function() {
          console.log("new button click");
          console.log("new todo is " + this.title + "," + this.detail);
          store.setTodo(this.title, this.detail);
          router.push('/newConfirm');
        }
      },
      created: function () {
        this.title = store.todo.title;
        this.detail = store.todo.detail;
      }
    }

    // 確認画面のコンポーネント
    const Confirm = { 
      template: '#todo-new-confirm-template',
      data: function (){
        return {
          title: "", detail: ""
         }
      },
      methods: {
        okButtonClick: function() {
          console.log("ok button click");
          this.$emit('add-new-todo', this.title, this.detail);
          router.push('/');
        },
        cancelButtonClick: function() {
          console.log("cancel button click");
          router.go(-1); // 1つ戻る
        }
      },
      created: function () {
        this.title = store.todo.title;
        this.detail = store.todo.detail;
      }
    }

    // 編集画面のコンポーネント
    const Edit = { 
      template: '#todo-edit-template',
      data: function (){
        return {
          title: "", detail: ""
         }
      },
      methods: {
      },
      created: function() {
        console.log("edit title is " + this.$router.currentRoute.params.item);
      }
    }
    
    const routes = [
      { path: '/', component: Todos },
      { path: '/new', component: New },
      { path: '/newConfirm', component: Confirm },
      { path: '/edit/:item', name:'edit', component: Edit }
    ]
    const router = new VueRouter({
      routes // routes: routes の短縮表記
    })
    const app = new Vue({
      router,
      message: "message",
      data: {
        todos: [
          "todo1",
          "todo2",
          "todo3"
        ]
      },
      methods:{
        addNewTodo: function(t, d) {
          console.log("addNewTodo "+t+":"+d);
          this.todos.push(t);
        }
      }
    }).$mount('#app')
  </script>
</body>