<!DOCTYPE html>
<html>
  <head>
    <title>Calc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Calc</h1>
    <p>This page is <%= pageName %></p>
    <p><a href="/">戻る</a></p>
  </body>
</html>