<!DOCTYPE html>
<html>
  <head>
    <title>Calc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('#addButton').click(function(){
          $.ajax({
            url: "/calc/add",
            type: "POST",
            data: {
              num1: $("#num1").val(),
              num2: $("#num2").val()
            },
            success: function(result){
              $("#result").val(result);
            }});
        });
      });
    </script>
  </head>
  <body>
    <h1>Calc</h1>
    <p>This page is <%= pageName %></p>
    <p>
      <input id="num1" type="text">+
      <input id="num2" type="text">=
      <input id="result" type="text">
      <button id="addButton">Add</button>
    </p>
    <p><a href="/">戻る</a></p>
  </body>
</html>